* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: black;
  margin-top: 50px;
  overflow: hidden;
}

#editor {
  min-width: 500px;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.result {
  /* display: flex; */
}

#ans {
  /* flex: 1;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 2px; */
}

h1 {
  font-size: 1.5rem;
}
